.flexboxer {
	h1 {
		color: @blue;
		font-size: 4rem;
		font-weight: 900;
	}
	p {
		font-size: 2rem;
	}
	&--background {
		max-width: 100%;
		background-color: @blue;
		background-repeat: no-repeat;
		background-size: cover;
		h1, p {
			color: @yellow;
		}
	}
	.wrap--headlogo {
		img {
			max-width: 100%;

		}
	}
}





.menu--top {
	background-color: @link-color-primary;
}

.wrap--header .menu {
	display: inline-block;
	li a {
		color: @link-color-primary;
		&:hover {
			color: @link-color-hover;
		}
	}
}

.wrap--footer a {
	color: #333;
	&:hover {
		color: black;
	}
}